:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

body {
  background-color: #5e093e !important;
}

.dark-bg {
  background-color: #101204 !important;
}

.list-item {
  background-color: #22272B !important;
  cursor: pointer;
}

.sort-select {
  width: 120px !important;
  height: 30px !important;
  font-size: 1rem !important;
  padding: 0.5rem 2rem 0.5rem 1rem !important; /* Adjust for the custom arrow */
  border: none !important;
  border-radius: 4px !important;
  background-color: #333 !important; /* Dark background for your theme */
  color: #fff !important;

  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  position: relative !important;

  /* Custom arrow (sort.svg) */
  background-image: url('/sort.svg') !important;
  background-repeat: no-repeat !important;
  background-position: right 10px center !important;
  background-size: 20px !important;
}

.sort-select:hover {
  border-color: #555 !important;
}

.sort-select option {
  background-color: #333 !important;
  color: #fff !important;
}

.radius-12 {
  border-radius: 12px !important;
}
